<section id="leave-msg">
    <h2>Leave a message for:</h2>
	<form method="post" class="form-horizontal">
	    <div class="form-group">
	        <div class="col-xs-10 selectContainer">
	            <select name="friend" class="form-control" ng-model="newMessage.to" ng-options="friend._id as friend.firstName + ' ' + friend.lastName for friend in allFriends" >
	            </select>
	        </div>
	    </div>

	    <div class="form-group">
<!-- 	        <div class="col-xs-5 col-xs-offset-3"> -->
	        <div class="col-xs-10">
	        	<textarea ng-model="newMessage.body" class="form-control" rows="5" id="message"></textarea>
	        </div>
	    </div>

	    <div class="form-group">
	        <div class="col-xs-5 col-xs-offset-3">
	            <button type="submit" class="btn btn-default" ng-click="leaveMessage(newMessage)">Send</button>
	        </div>
	    </div>

	</form>
</section>
