* {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
}

h1, h2, h3, h4 {
	text-align: center;
  color: #B40B82;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Optima;

}

.angular-google-map-container { height: 400px; }


#main-page {
  padding-top: 50px;
  text-align: center; 
  h1 {
    padding-bottom: 20px;
  } 
}

#main-page a {
  color: #B40B82;
  font-size: 30px;
}

#leave-msg {
  color: #B40B82;
  font-family: Optima;
  padding-top: 0px;
  text-align: center;
 
  h2 {
    padding: 100px 0 20px 0;
  }

  .form-control {
    margin: 0 50px 0 50px;
  }

  button {
  margin-top: 20px;
    font-size: 20px;
  }
}

#see-msg {
  text-align: center;
  font-size: 120%;

  h2 {
  margin-bottom: 40px;
  }

  h4 {
    color: #000080;
  }

  p {
    margin-bottom: 50px;
  }

  a {
  color: #000080;
      font-weight: bold;
  &:hover {
      background: none;
      color: #B40B82;
    }
  }
}

#notifications{
  text-align: center;

  h2 {
  margin-bottom: 40px;
  }
  
  a {
    color: #1d1d22;
    text-decoration: none;
      &:hover {
        background: #000080;
        color: white;
        text-decoration: none;
      }
  }
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}





@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';